{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Close Menu</a>
  <a href="#food" onclick="w3_close()" class="w3-bar-item w3-button">Food</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">About</a>
</nav>

<!-- Top menu -->


<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="https://drive.google.com/uc?id=15PBvU8WexiyZuVr4thzTSr9tyAlWhcRX" alt="Pasta and Wine" style="width:100%">
      <h3>AL-BLR2-SPA-04-081 Pirates of ATG</h3>


    </div>

    <div class="w3-quarter">
      <img src="https://drive.google.com/uc?id=1qZZGMp42mBuyLxXx0Gg4d2xp9-osd_x0" alt="Steak" style="width:100%">
      <h3>AL-BLR2-SPA-05-091 Rainbow warriors</h3>
    </div>
    <div class="w3-quarter">
      <img src="https://drive.google.com/uc?id=1G9DcHYO5FW1Bkp04PoOSIMAfM19_0RHn" alt="Cherries" style="width:100%">
      <h3>AL-BLR2-SPA-05-101 Electric Force</h3>

    </div>
    <div class="w3-quarter">
      <img src="https://drive.google.com/uc?id=1iLMp9MFOn9RTs16_fYbjiSYdhJ9asq7R" alt="Sandwich" style="width:100%">
      <h3>AL-BLR2-SPA-06-121 Team Hawks</h3>

    </div>
  </div>



  <div class="results"></div>

<script>

 // ID of the Google Spreadsheet
 var spreadsheetID = "SPREADSHEET KEY";

 // Make sure it is public or set to Anyone with link can view
 var url = "https://spreadsheets.google.com/feeds/list/" + "https://docs.google.com/spreadsheets/d/e/2PACX-1vR_TBcRmI3RT7O-ffXMtoe8vC5uf-25JCKTtr825h4uBK1vqCp8jC6Tq1WR53Z0kU-KFeopHYikWOKR/pubhtml?widget=true&amp;headers=false" + "/od6/public/values?alt=json";

 $.getJSON(url, function(data) {

  var entry = data.feed.entry;

  $(entry).each(function(){
    // Column names are name, age, etc.
    $('.results').prepend('<h2>'+this.gsx$name.$t+'</h2><p>'+this.gsx$age.$t+'</p>');
  });

 });

</script>

  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="https://drive.google.com/uc?id=1Ip4Ao8xl3JwuGZ9MC8TomEvAtQMttwYM" alt="Salmon" style="width:100%">
      <h3>AL-BLR2-SPA-07-140 Team Dominators</h3>


    </div>
    <div class="w3-quarter">
      <img src="https://drive.google.com/uc?id=1i-QPCb-PI0NFGpUu_AbbCnt4Bw7CJJCP" alt="Salmon" style="width:100%">
      <h3>AL-BLR2-SPA-08-160 Tech Warriors</h3>
    </div>
    <div class="w3-quarter">
      <img src="https://drive.google.com/uc?id=1m20Zx8LI0HnkZXGqtwoiJ3VzhBBT3_0o" alt="Sandwich" style="width:100%">
      <h3>AL-BLR2-SPA-08-170 Number Crunchers</h3>
    </div>
    <div class="w3-quarter">
      <img src="https://drive.google.com/uc?id=1mbd-N9mkurYS2xKVNQkUGneI7CSgTSnB" alt="Croissant" style="width:100%">
      <h3>AL-BLR2-SPA-09-180 Royal Karte</h3>
    </div>
  </div>



    </div> <br>

  <!-- Pagination -->
<div>
  <br>
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="/blr2" class="w3-bar-item w3-button w3-hover-black">1</a>
      <a href="/blr2pg2" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="/blr2pg3" class="w3-bar-item w3-button w3-hover-black">3</a>


    </div>
  </div>

  <hr id="about">

  </div>

</body>
</html>
{% endblock content %}
